@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Nanum Pen Script', cursive;
    
}

/*프로그램 타이틀 선택*/
h1.header{
    margin: 20px;
}

hr{
    border: 0;
    border-top: 1px solid #ccc
}

h2.title{
    margin: 20px 40px;    
}

#regform{
    margin: 10px 40px;
}

#regform>table{
    width: 600px;
}

#regform>table td{
    width: 120px;
    padding: 10px;
    vertical-align: top;
}

#regform>table input{
    width: 80%;
    padding: 5px;
}

#regform>table label{
    display: block;
}

/*버튼*/
#regform>table input[type=submit]{
    width: 100px;
    height: 50px;
    background-color: lightskyblue;
    border: 2px solid #aaa;
    
}

div.msg {
    color: crimson;
    display: none;
}

table.table {
    margin: 10px 40px;
    width:  600px;
    border-collapse: collapse;
}

table.table td, table.table th {
    padding: 10px;
    border: 1px solid #aaa;
    background-color: #fff;
    
    text-align: center;
}

div.edit_div{
    width: 300px;
    padding: 10px;
    
    border: 1px solid #aaa;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #ddd;
    background-color: lightblue;
    
    position: absolute;
    
    top: 50px;
    left: 100px;   
    
    display: none;
}

div.edit_div>div.edit_for_header{
    overflow: hidden;
    padding: 5px;
}

div.edit_div>div.edit_for_header>h2{
    float: left;
}

div.edit_div>div.edit_for_header>a {
    float: right;
}

#editform{
    margin: 5px;
}

#editform>table{
    width: 100%;
}

#editform>table td{
    padding: 5px;
    text-align: center;
}

#editform input[type=submit]{
    background-color: skyblue;
    padding:  10px;
    width: 50%;
    font-size: 2.5em;
    font-family: 'Nanum Pen Script', cursive;
    font-weight: bold;
    color: blue;
    
    border: 1px solid gray;
    
    
}
