a#link-exerd-root img {
	background-image: url(images/logo.png);
}

a#link-exerd-help img {
	background-image: url(images/exerd-help.png);
}

a#link-exerd-sample img {
	background-image: url(images/logo.png);
}

a#link-exerd-news img {
	background-image: url(images/logo.png);
}