<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="content/rcp-intro.xml"
            id="com.tomato.exerd.intro.introConfigId"
            introId="com.tomato.exerd.intro.intro">
         <presentation
               home-page-id="exerdRoot"
               standby-page-id="exerdStandby">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="content/overview.xml">
      </configExtension>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="content/rcp-intro.xml">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            icon="content/html/images/intro.gif"
            id="com.tomato.exerd.intro.intro"
            label="%intro.label">
      </intro>
      <introProductBinding
            introId="com.tomato.exerd.intro.intro"
            productId="com.tomato.exerd.core.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.tomato.exerd.ui.commands.category"
            defaultHandler="com.tomato.exerd.intro.ShowSampleHandler"
            id="com.tomato.exerd.intro.showsample"
            name="%command.name">
         <commandParameter
               id="zip"
               name="%commandParameter.name"
               optional="false">
         </commandParameter>
         <commandParameter
               id="fileToOpen"
               name="%commandParameter.name.0"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:com.tomato.exerd.ui.main.menu.tool?after=com.tomato.exerd.core.separator.example">
         <separator
               name="examples"
               visible="true">
         </separator>
         <menu
               icon="icons/16.gif"
               label="%menu.label">
            <command
                  commandId="com.tomato.exerd.intro.showsample"
                  icon="icons/pos.png"
                  label="%command.label"
                  style="push">
               <parameter
                     name="zip"
                     value="pos">
               </parameter>
               <parameter
                     name="fileToOpen"
                     value="pos.exerd">
               </parameter>
            </command>
            <command
                  commandId="com.tomato.exerd.intro.showsample"
                  icon="icons/student.gif"
                  label="%command.label.0"
                  style="push">
               <parameter
                     name="zip"
                     value="study">
               </parameter>
               <parameter
                     name="fileToOpen"
                     value="study.exerd">
               </parameter>
            </command>
            <command
                  commandId="com.tomato.exerd.intro.showsample"
                  icon="icons/public.png"
                  label="%command.label.1"
                  style="push">
               <parameter
                     name="zip"
                     value="public.zip">
               </parameter>
               <parameter
                     name="fileToOpen"
                     value="public.xdic">
               </parameter>
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <with
                           variable="activeWorkbenchWindow">
                        <and>
                           <test
                                 forcePluginActivation="true"
                                 property="com.tomato.exerd.intro.tester.isEnglishLocale">
                           </test></and>
                     </with>
                  </or>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.tomato.exerd.intro.LocaleTester"
            id="com.tomato.exerd.intro.tester"
            namespace="com.tomato.exerd.intro.tester"
            properties="isEnglishLocale"
            type="java.lang.Object">
      </propertyTester>
   </extension>

</plugin>
